{{ define "main" }}

<section class="site-about-header">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="site-about-wrapper">
          <div class="site-about-company">
            <h1 style="text-align: center;">
              {{ .Params.heading }}
            </h1>
          </div>
          <div class="site-about-description">
            <p>
              {{ .Params.desc_first | safeHTML }}
            </p>
          </div>
          <div class="site-about-description" style="display: block; margin: auto; margin-top: 30px;">
            <img src="https://quentinbonis.com/images/about/dbscan_clustering.jpg" style="height: auto; width: 100%;">
            <p style="font-size: 15px; font-weight: 300; margin-bottom: 0;">
              {{ .Params.cise_desc | safeHTML }}
            </p>
          </div>
          <div class="site-about-description" style="display: block; margin: auto; margin-top: 30px;">
            <img src="https://quentinbonis.com/images/about/TPZ_image_processing.jpg" style="height: auto; width: 100%;">
            <p style="font-size: 15px; font-weight: 300; margin-bottom: 0;">
              {{ .Params.image_desc | safeHTML }}
            </p>
          </div>
        </div>
        <div class="site-about-wrapper">
          <p style="font-size: 25px; font-weight: 300; margin-bottom: 0;">
            {{ .Params.desc_second | safeHTML }}
          </p>
        </div>
        <div class="col-12 text-center text-lg-left" style="text-align: center!important">
          <a href="../portfolio" class="site-project-cta" style="margin-bottom: 30px;">GO TO PORTFOLIO</a>
        </div>

        <div class="site-about-wrapper">
          <p style="font-size: 25px; font-weight: 300; margin-bottom: 0;">
            {{ .Params.desc_three | safeHTML }}
          </p>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="site-expertise">
  <div class="container">
    <div class="row">
      {{ with .Params.expertise_title }}
      <div class="col-md-5">
        <div class="section-title">
          <h2>{{ . }}</h2>
        </div>
      </div>
      {{ end }}
      <div class="col-md-6">
        <ul class="site-expertise-list">
          {{ range .Params.expertise_sectors }}
          <li>{{ . }}</li>
          {{ end }}
        </ul>
      </div>
    </div>
  </div>
</section>

<!--{{ partial "clients.html" . }}-->

{{ partial "team.html" . }}

{{ partial "call-to-action.html" . }}

{{ end }}