{{ with .Site.Data.team }}
  {{ if .enable }}
  <section class="site-team">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <div class="section-title">
            <h2>
              {{ .title }}
            </h2>
          </div>
        </div>
        {{ range .members }}
        <div class="col-lg-4 col-md-6" style="margin: auto;">
          <div class="site-team-member">
            <div class="site-team-member-image" style="margin: auto; position: static;">
              <img src="{{ .image | absURL }}" alt="team-member">
            </div>
            <div class="site-team-member-content" style="text-align: center;">
              <h3>{{ .name }}</h3>
              <p>{{ .designation }}</p>
              <ul class="site-team-member-social">
                <li><a href="https://www.linkedin.com/in/quentin-bonis-7b798112a/"><i class="fa fa-linkedin"></i></a></li>
                <li><a href="https://gitlab.com/QuentinB02"><i class="fa fa-gitlab"></i></a></li>
                <li><a href="https://www.behance.net/quentin_bonis"><i class="fa fa-behance"></i></a></li>
              </ul>
            </div>
          </div>
        </div>
        {{ end }}
      </div>
    </div>
  </section>
  {{ end }}
{{ end }}